<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    KuroX 如果用量比较大，请使用下面二维码赞助一下~
  </p>
  <img src="https://i.328888.xyz/2023/03/29/iWSjXy.jpeg" alt="iWSjXy.jpeg" border="0" />
</footer>
